.NavShow {
	display: flex;
	font-family: 'Raleway', sans-serif;
	flex: 0 0 auto;
	flex-direction: column;
	background-color: #1e1f21;
	color: white;
	transition: margin-left 250ms ease-out, transform 250ms ease-out;
	width: 240px;
	height: 100%;
}
.NavClose {
	margin-left: -240px;
	background-color: #1e1f21;
	color: white;
	display: flex;
	flex: 0 0 auto;
	flex-direction: column;
	transition: margin-left 250ms ease-out, transform 250ms ease-out;
	width: 240px;
	height: 100%;
}
.Navtop{
	align-items: center;
	display: flex;
	height: 72px;
	justify-content: space-between;
}
.NavtopLogo {
	width: 150px;
}
.navToggleBtn {
	margin-right: 24px;
	color: #a2a0a2;
}
.navToggleBtn:hover {
	color: white;
	cursor: pointer;
}
.sidebar-links-section {
	border-bottom: 1px solid #424243;
	padding-bottom: 20px;
}
.sidebar-links-section a {
	height: 0px;
	width: 0px;
	color: white;
	text-decoration: none;
}
.sidebar-links-section svg {
	vertical-align: bottom;
	margin-right: 8px;
}
.sidebar-links-section a:hover {
	background-color: #303132;
}
#sidebar-link {
	padding: 7px 24px;
	font-size: 14px;
}
#sidebar-link-text {
	margin-bottom: 16px;
}
#sidebar-link:hover {
	background-color: #303132;
}
.sidebar-active div {
	background-color: #424345;
}
.sidebar-active div:hover {
	background-color: #4b4c4d !important;
}
.sidebar-active > *:hover {
	background-color: #4b4c4d !important;
}
#sidebar-projects-title {
    display: flex;
	padding: 15px 24px;
}
.sidebar-projects-section {
	border-bottom: 1px solid #424243;
	padding-bottom: 40px;
}
.sidebar-projects-section a {
	width: 0px;
	height: 0px;
	color: white;
	text-decoration: none;
	font-size: 14px;
}

.sidebar-log-out{
    height: 56px;
    display: flex;
    align-items: center;
    padding: 5px 24px;
    margin-top: auto;
    margin-bottom: 50px;
    border-top: 1px solid #424243;
}
.logoutNavBtn{
    width: 100%;
    color: white;
    background-color: lightcoral; 
    border-radius: 5px;
    border:none;
    height: 36px;
    cursor: pointer;
} 
